/* ===========================
   Base
   =========================== */
@import "reset.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// Graphic chart
$black: #000;
$whiteLight: #F8F8F8;
$blackLight: rgba(0,0,0,.7);
$gray: #5B5B5B;
$lightGray: rgba(40,40,40,.3);
$lightelyGray: #FAFAFA;
$lightBlue: #3E8AE2;
$blue: #3E8AE2;
$darkBlue: #034287;
$red: #901618;

 // Font
 @font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

$mainFont: 'MyriadProRegular';

// Img
$mainBackground: url('../img/main_bg.jpg') center no-repeat;
$additBackground: url('../img/main_bg4.jpg') center no-repeat;

body {
	font-family: $mainFont;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 40pt;
  @include max-screen(1500px) {
    font-size: 30pt;
  }
  @include max-screen(980px) {
    font-size: 50pt;
  }
}
