/* ===========================
   Layout
   =========================== */
.wrapper {
	width: 100%;
	// position: relative;
}
.l-main {
	background: $mainBackground;
	background-size: cover;
	height: 120vh;
	color: $whiteLight;
	z-index: 10;
	a {
		color: $whiteLight;
	}
}

.step1 { z-index: 10 }
.step2 { z-index: 15 }
.step3 { z-index: 16 }
.step4 { z-index: 17 }
.step5 { z-index: 18 }

.block2 { z-index: 20 }
.block3 { z-index: 20 }
.block4 { z-index: 25 }
.block5 { z-index: 25 }

/* ===========================
   Style
   =========================== */
.fl-right {
	float: right;
}
.fl-left {
	float: left;
}

.m-top-5 {
  margin-top: 5%;
}

.m-top-10 {
  margin-top: 10%;
}

.m-top-20 {
	margin-top: 20%;
}

.m-top-30 {
	margin-top: 30%;
}

.m-top-40 {
	margin-top: 40%;
}

.m-btm-30 {
  margin-bottom: 30%;
}

.m-btm-40 {
  margin-bottom: 40%;
}

.m-rght-5 {
  margin-right: 5%;
}

.txt-large {
  font-size: 60px;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.txt-white {
  color: #fff !important;
}


.btn {
  display: block;
  padding: 15px;
  background-color: $lightBlue;
  color: #FFF;
  width: 25%;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  @include transition(background-color, 0.7s);
  @include max-screen(1200px) {
    font-size: 10pt;
  }
  &:hover {
    @include transition(background-color, 0.7s);
    background-color: $darkBlue;
  }
}

.block-name {
  color: $gray;
  border-bottom: 4px solid #5b5b5b;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 13pt;
  display: inline-block;
}