.small-12.collumns.l-footer
  .small-12.collumns
    ul.fl-right
      li.footer--item
        a(href="about.html") О компании
      li.footer--item
        a(href="services_tariffs.html") Услуги и тарифы
      li.footer--item
        a(href="online_tools.html") Онлайн инструменты
      li.footer--item
        a(href="news.html") Новости
      li.footer--item
        a(href="contacts.html") Контакты
    .small-12.collumns
      p.footer--copy 2016 &copy; Разработано в компании UCT
