.head
  .small-12.columns.head
    ul.head--menu(class=txt_color)
      li
        a.head--item.event(href='#')
          i.fa.fa-1x.fa-bars
      li
        a.head--item(href='#')
          i.fa.fa-1x.fa-search
      li
        a.head--item(href='#')
          i.fa.fa-1x.fa-user
          p.fl-right
            | Личный 
            br
            |  кабинет