.small-12.columns.mob
    .small-12.medium-12.large-6.columns.large-centered
      .small-5.columns.upper.m-top-10
        ul
          li
            a.mob--title.m-rght-5.w_active(href='#') Ru 
            a.mob--title(href='#')  Kz
          li
            a.mob--item.m-top-20(href='postage.html')
              span
              | Стоимость доставки
          li
            a.mob--item(href='#request_call.html')
              span
              | Сроки доставки
          li
            a.mob--item(href='nearest.html')
              span
              | Ближайшее отделение
          li
            a.mob--item(href='#')
              span
              | График работы отдилений
          li
            a.mob--item(href='contacts.html')
              span
              | Контакты
      .small-2.columns.m-top-10
        i.fa.fa-times.fa-2x.mob--fa(aria-hidden='true')
      .small-5.columns.upper.m-top-10
        ul
          li
            a.mob--title(href='#') Вернутся на главную
          li
            a.mob--item.m-top-20(href='about.html')
              span
              | О компании
          li
            a.mob--item(href='#')
              span
              | Услуги и тарифы
          li
            a.mob--item(href='online_tools.html')
              span
              | Онлайн инструменты
          li
            a.mob--item(href='news.html')
              span
              | Новости
          li
            a.mob--item(href='#')
              span
              | Сотрудничество
      .small-12.columns.mob--description.m-top-5
        .small-6.columns.small-centered
          p
            | Республика Казахстан 
            br
            | 						050016, г.Алматы 
            br
            | 						пр. Суюнбая, 37, этаж 2 
            br
            | 						e-mail: office@gpserv.kz
          p.m-top-10
            | +7 (727) 381 81 81 
            br
            | 						+7 (727) 382 24 00
