//=========================
//	bg animation block
//=========================
.step2 {
	position: absolute;
	top: 100%;
	color: tomato;
	padding: 0;
	div {
		// border-right: 1px solid tomato;
		padding: 0;
		bottom: 0;
	}
	.bg-color {
		height:0;
		background-color: #fff;
	}
	@include max-screen(1000px) {
    display: none;
  }
}

.simple-block,
.reverse-block,
.addit-block,
.oposit-block {
	position: absolute;
	top: 0;
	color: tomato;
	padding: 0;
	div {
		// border-right: 1px solid tomato;
		padding: 0;
		bottom: 0;
	}
	.bg-color {
		height:0;
		background-color: #fff;
	}
	@include max-screen(400px) {
    display: none;
  }
}

.ScrollSceneIndicators { z-index: 99999 !important; }
