form {
  div.columns {
    padding-right: 0;
  }
  input {
    border: 1px solid $lightGray;
    background: #ffffff !important;
    outline: none;
    color:$gray;
    padding: 10px;
    width: 100%;
    display: block;
    // margin: 30px 0;
  }
  label {
    // margin: 5px 0;
    display: block;
    color: $gray;
    font-weight: bold;
  }
  .lbl-margn-top {
      margin-top: 30px;
  }
  .lbl-position-left {
    margin-top: 10px;
  }
  textarea {
    width: 100%; /* Ширина поля в процентах */
    height: 200px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
   }
}

.form {
  &-button {
    margin-top: 30px;
    padding: 0;
    // padding-right: 75px;
  }
  &-descrpt {
    color: $gray;
  }
  &-reset {
    color: $gray;
    display: block;
    clear: both;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
  }
  &--online-icon {
    color: #fff;
    background-color: $blue;
    // border: 1px solid $lightGray;
    text-align: center;
    padding: 30px 10px;
    width: 200px;
    display: block;
    @include transition(background-color, 0.7s);
    height: 210px;
    &:hover {
      @include transition(background-color, 0.7s);
      background-color: $darkBlue;
    }
  }
}
