.head {
	height: 8%;
	&--menu {
		display: flex;
	    align-items: center;
	    margin: 0;
	    float: right;
	}
	&--item {
		padding: 0 20px;
		float: right;
		display: flex;
	    align-items: center;
	    p {
	    	font-size: 10pt;
	    	@include max-screen(1200px) {
	    		display: none;
	    	}
	    	margin-left: 10px;
	    }
	    i {
			font-size: 22pt;
			@include max-screen(980px) {
	    		font-size: 50pt;
	    		@include transition(font-size, 0.7s);
    		}
		}
	}
}

.main--end {
	padding: 0;
	height: 100%;
	z-index: 12;
	&--block {
		background-color: $blackLight;
		height: 92%;
		padding: 5% 0 0 5%;
		@include max-screen(980px) {
			display: none;
		}
	}
}

.langv {
    position: absolute;
    right: 2%;
    top: 12%;
    z-index: 40;
  	@include max-screen(980px) {
  		display: none;
  	}
}

.slider {
	height: 164px;
	color: $lightBlue;
	overflow: hidden;
	font-weight: bold;
	&--item {
		.num {
			font-size: 108px;
			display: block;
			height: 130px;
		}
		.decription {
		    margin-left: 11%;
		    display: block;
		}
	}
}

.main {
	padding: 0 5%;
}
