extends layout.jade
block title
  title GPServ

block content
  - var bg_color = nil
  - var txt_color = "txt-black"
  .l-main.img-bg2
    include ./includes/nav.jade
    .small-4.columns.small-offset-6
      include ./includes/head.jade
    include ./includes/lengv.jade
    .small-10.columns.content
      .small-8.columns.end
        a(href="index.html").main-link на главную
        p.block-name Сроки доставки
        p.form-descrpt
          | Данный сервис поможет Вам узнать ориентировочную дату
          br
          | доставки Вашего отправления 
        form
          .small-12.columns.m-top-5
            .small-3.columns
              label.lbl-position-left  Дата отправки
            .small-9.columns.end
              input(type="date", name="first_name")
          .small-12.columns.m-top-5
            .small-3.columns
              label.lbl-position-left  Город-отправитель 
            .small-9.columns.end
              input(type="text", name="second_name")
          .small-12.columns.m-top-5
            .small-3.columns.end
              label.lbl-position-left  Город-получатель
            .small-9.columns.end
              input(type="text", name="phone_number")
          .small-10.columns.form-button.end
            a.btn(href='#', type="button").fl-right Расчитать дату
            a.form-reset(href='#',type="reset", name="clear_form").fl-right Очистить
    .small-10.columns.footer.small-offset-2
      include ./includes/footer.jade
  .reverse-block.columns.small-12
    include ./includes/bg_animate.jade
