extends layout.jade
block title
  title GPServ

block content
  - var bg_color = nil
  - var txt_color = "txt-black"
  .l-main.img-bg2
    include ./includes/nav.jade
    .small-4.columns.small-offset-6
      include ./includes/head.jade
    include ./includes/lengv.jade
    .small-10.columns.content
      .small-8.columns.end
        a(href="index.html").main-link на главную
        p.block-name Сроки доставки
        p.form-descrpt
          | Данный сервис поможет Вам узнать ориентировочную дату
          | доставки Вашего отправления 
        form
          .small-12.columns
            label Дата отправки 
            input(type="text", name="first_name")
          .small-12.columns
            label Город-отправитель 
            input(type="text", name="second_name")
          .small-12.columns
            label Город-получатель 
            input(type="tel", name="phone_number")
          .small-6.columns
            label Email 
            br
            input(type="email", name="email")
          .small-11.columns.form-button.end
            a.btn(href='#', type="button").fl-right Смотреть все услуги
    .small-10.columns.footer.small-offset-2
      include ./includes/footer.jade
  .addit-block.columns.small-12
    include ./includes/bg_animate.jade
