extends layout.jade
block title
  title GPServ

block content
  - var bg_color = nil
  - var txt_color = "txt-black"
  .l-main.img-bg2
    include ./includes/nav.jade
    .small-4.columns.small-offset-6
      include ./includes/head.jade
    include ./includes/lengv.jade