extends layout.jade
block title
  title GPServ

block content
  - var bg_color = "bgc-gray";
  - var txt_color = "txt-black"
  - var selected = nil
  .l-main.img-bg2
    include ./includes/nav.jade
    .small-4.columns.small-offset-6
      include ./includes/head.jade
    include ./includes/lengv.jade
    .small-10.columns.content
      .small-7.columns.end
        a(href="index.html").main-link на главную
        p.block-name Заказать звонок
        form
          .small-6.columns
            label.lbl-margn-top Имя 
            br
            input(type="text", name="first_name")
          .small-6.columns
            label.lbl-margn-top Фамилия 
            br
            input(type="text", name="second_name")
          .small-6.columns
            label.lbl-margn-top Телефон 
            br
            input(type="tel", name="phone_number")
          .small-6.columns
            label.lbl-margn-top Email 
            br
            input(type="email", name="email")
          .small-12.columns.form-button
            a.btn(href='#', type="button").fl-right Отправить
    .small-10.columns.footer.small-offset-2.posit-abs
      include ./includes/footer.jade
  .addit-block.columns.small-12
    include ./includes/bg_animate.jade
