extends layout.jade
block title
  title График работы отделений

block content
  - var bg_color = "bgc-gray";
  - var txt_color = "txt-black";
  - var selected = 'schedule.html';
  .l-main.img-bg2
    include ./includes/nav.jade
    .small-4.columns.small-offset-6
      include ./includes/head.jade
    include ./includes/lengv.jade
    .small-10.columns.content
      .small-6.columns.end
        a(href="index.html").main-link на главную
        p.block-name График работы отделений
        form
          .small-12.columns
            input(type="text", placeholder="Введите адрес")
          .small-12.columns
            label.lbl-margn-top Город
            br
            input(type="text", placeholder="Алматы")
          .small-12.columns
            label.lbl-margn-top № отделения
            br
            input(type="text")
          .small-12.columns
            label.lbl-margn-top Тип отделения 
            br
            input(type="text")
          .small-12.columns.txt-black
            p table
    .small-10.columns.small-offset-2
      include ./includes/footer.jade
  .simple-block.columns.small-12
    include ./includes/bg_animate.jade
