extends layout.jade
block title
  title Услуги и тарифы

block content
  - var bg_color = nil
  - var txt_color = "txt-black"
  - var selected = nil
  .l-main.white-bgc
    include ./includes/nav.jade
    .small-4.columns.small-offset-6
      include ./includes/head.jade
    include ./includes/lengv.jade
    .small-10.columns.simple_content
      .small-12.columns.end.m-btm-5
        a(href="index.html").main-link на главную
        p.block-name Услуги и тарифы
        .small-12.columns
          .small-8.columns
            .small-12.medium-6.large-4.columns.m-top-2
              a(href="express_delivery.html").form--services-icon
                i.fa.fa-cube.fa-5x(aria-hidden='true')
                br
                br
                |EXPRESS
                br
                |доставка
            .small-12.medium-6.large-4.columns.m-top-2
              a(href="#").form--services-icon
                i.fa.fa-cube.fa-5x(aria-hidden='true')
                br
                br
                |Доставка грузов
                br
                |железнодорожным
                br
                |транспортом
            .small-12.medium-6.large-4.columns.m-top-2
              a(href="#").form--services-icon
                i.fa.fa-cube.fa-5x(aria-hidden='true')
                br
                br
                |Транспортные
                br
                |и дополнительные
                br
                |услуги
            .small-12.medium-6.large-4.columns.m-top-2
              a(href="#").form--services-icon
                i.fa.fa-cube.fa-5x(aria-hidden='true')
                br
                br
                |Международная
                br
                |доставка
            .small-12.medium-6.large-4.columns.m-top-2
              a(href="#").form--services-icon
                i.fa.fa-cube.fa-5x(aria-hidden='true')
                br
                br
                |Городская
                br
                |доставка
            .small-12.medium-6.large-4.columns.m-top-2
              a(href="#").form--services-icon
                i.fa.fa-cube.fa-5x(aria-hidden='true')
                br
                br
                |Дополнительные
                br
                |услуги
            .small-12.columns.m-top-2.txt-black
              p.bold Тариф на пересылку отправлений с обьявленной стоимостью
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis delectus quia commodi dolore distinctio, magni beatae, ratione dolor sint iste
                |saepe eveniet quaerat qui mollitia libero aliquid ad quo velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente expedita 
                |nemo, libero. Alias tempora pariatur natus nobis, ea laboriosam fugit quidem ad vel sit maxime sequi nemo! Molestiae, molestias tempore.
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis delectus quia commodi dolore distinctio, magni beatae, ratione dolor sint iste
                |saepe eveniet quaerat qui mollitia libero aliquid ad quo velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente expedita 
                |nemo, libero. Alias tempora pariatur natus nobis, ea laboriosam fugit quidem ad vel sit maxime sequi nemo! Molestiae, molestias tempore.
            .small-12.columns.m-top-2.txt-black
              p.bold Повышающие коэффициенты
              p 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis delectus quia commodi dolore distinctio, magni beatae, ratione dolor sint iste
                |saepe eveniet quaerat qui mollitia libero aliquid ad quo velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente expedita 
                |nemo, libero. Alias tempora pariatur natus nobis, ea laboriosam fugit quidem ad vel sit maxime sequi nemo! Molestiae, molestias tempore.
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis delectus quia commodi dolore distinctio, magni beatae, ratione dolor sint iste
                |saepe eveniet quaerat qui mollitia libero aliquid ad quo velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente expedita 
                |nemo, libero. Alias tempora pariatur natus nobis, ea laboriosam fugit quidem ad vel sit maxime sequi nemo! Molestiae, molestias tempore.
          .small-4.columns
            .small-12.columns.txt-black
              p 
                |Важно!
                br
                br
                |Для расчета стоимости доставки грузов в
                br
                |тарифную зону.
                br
                br
                |1. Найдите в таблице населенные пункты
                br
                |отправления и получения
                br
                br
                |2. На пересечениии населенных пунктов
                br
                |отправления и получения будет указан
                br
                |номер тарифной зоны
                br
                br
                |3. Используйте номер тарифной зоны для
                br
                |определения стоимости тарифа Вашего
                br
                |отправления
    .small-10.columns.small-offset-2
      include ./includes/footer.jade
